html, body {
  font-size: 14px;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
}

.home-box {
  border: 1px solid rgba(0, 102, 153, 1);
  border-radius: 4px;
  background-color: rgba(8, 31, 37, 1);
  margin: 10px;
  overflow: hidden;
}

.home-box:hover {
  background-color: rgba(13, 39, 45, 1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.page {
	display: flex;
	justify-content: center;
	margin: 20px 0 30px 0;
	color: #666;
  /deep/{
    .el-pagination__total,.el-pagination__jump {
      color: #fff;
    }
  }
}

.blue {
  color: #0099FF;
}
.blue1 {
  color: #0000FF;
}
.green {
  color: #00CC00;
}
.yellow {
  color: #FF9900;
}
.table-wrapper {
  padding: 0 20px;
  /deep/ {
    .el-table {
      color: #fff;
    }
    .el-table td, .el-table th {
      padding: 5px 0;
    }
    .el-table,
    .el-table__expanded-cell {
      background-color: transparent;
    }
    .el-table tr {
      cursor: pointer;
      background-color: rgb(13, 39, 45);
      th {
        background-color: rgb(26, 72, 77);
      }
    }
    .el-table thead {
      color: #ccc;
    }
    .el-table tr.current-row {
      background-color: #0099FF;
    }
    .el-table tr.el-table__row--striped {
      background-color: rgb(26, 72, 77);
    }
    .el-table tr.el-table__row--striped.current-row {
      background-color: #0099FF;
    }
    .el-table--enable-row-transition .el-table__body td,
    .el-table .cell, .el-table .cell:hover {
      background-color: transparent!important;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td {
      background-color: transparent;
    }
    .el-table td,
    .el-table th.is-leaf {
      border: none;
    }
    .el-table::before {
      height: 0;
    }
    .el-table__fixed-right::before, .el-table__fixed::before {
      height: 0;
    }
  }
}
.table-wrapper2 {
  /deep/ {
    .el-table {
      color: #fff;
    }
    .el-table,
    .el-table__expanded-cell {
      background-color: transparent;
    }
    .el-table tr {
      cursor: pointer;
      background-color: rgb(13, 39, 45);
      th {
        background-color: rgb(26, 72, 77);
      }
    }
    .el-table thead {
      color: #ccc;
    }
    .el-table tr.current-row {
      background-color: #0099FF;
    }
    .el-table tr.el-table__row--striped {
      background-color: rgb(26, 72, 77);
    }
    .el-table tr.el-table__row--striped.current-row {
      background-color: #0099FF;
    }
    .el-table--enable-row-transition .el-table__body td,
    .el-table .cell, .el-table .cell:hover {
      background-color: transparent!important;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td {
      background-color: transparent;
    }
    .el-table::before {
      height: 0;
    }
    .el-table__fixed-right::before, .el-table__fixed::before {
      height: 0;
    }
  }
}
/deep/ {
  .el-image {
    width: 100%;
    height: 100%;
  }
  .image-slot {
    width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #f5f7fa;
		color: #909399;
	}
}